@import 'main/bootstrap-reboot.min';

.warning {
    display: none;
}

html, body {
    width: 100%;
    height: 100%;
    transition: all 1s
}

@import 'blocks/btn';
@import 'blocks/main';
@import 'blocks/quiz';
@import 'blocks/finish';

@import 'main/animation';
@import 'main/_variables.scss';
@import 'main/_mixins.scss';
@import 'main/_media.scss';
@import 'main/active-class';

