.btn {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    width: 30%;
    height: 50px;
    border: 1px solid #000;
    border-radius: 23px;
    background-color: #ffffff;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 1.5vw;
}

.back {
    cursor: pointer;
    font-family: Montserrat;
    font-size: 1.2vw;
    margin-left: 40px;
    color: #858585;
}

.reset {
    cursor: pointer;
    font-family: Montserrat;
    font-size: 1.3vw;
    text-align: center;
    margin-bottom: 40px;
    color: #858585;   
}